.list{
    background-color:rgba(205, 92, 92, 0.377);
    color:white;
    font-size: 30px;
    font-family: sans-serif;
    list-style-position:inside;
    padding: 15px;
}
li{
    padding: 15px;
    margin: 20px;
    background-color: rgba(205, 92, 92, 0.61);
}
span{
    background-color: rgb(205, 92, 92);
    padding: 15px;
    margin-left: 15px;
}